* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.inner {
    position: relative;
    max-width: 1640px;
    margin: auto;
    height: 100%;
}

section {
    position: relative;
    z-index: 0;
    height: 100vh;
    background-color: lightgreen;
}
section h2{
    font-size: 120px;
}
section p{
    font-size: 17px;
    padding:30px 0 50px
}
a.btn{
    background-color: #000;
    display: inline-block;
    padding: 10px;
    font-size: 22px;
    border-radius: 100px;
    color: #ffffff;
}

header {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
}

header .title a {
    color: aliceblue;
}

header .inner {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 42px;
}
nav ul a{
    color: #ffffff;
    font-size: 18px;
}

#s01{
    background: url(../img/pexels-philippedonn-1257860.jpg) no-repeat center/cover;
}
#s01 .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#s01 .t-wrap > *{
    color: #ffffff;
}
#s02 {
  background-color: #f0f0f0; /* 연회색 배경 */
  padding: 100px 20px;
}

.s02-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.s02-list li {
  width: 200px;             
  height: 200px;
  background: lightgray;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  
}

.s02-list li:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.s02-list h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.s02-list p {
  font-size: 14px;
  color: #555;
}
#s02{
    background: url(../img/pexels-hyo-jeong-han-1697422348-27977781.jpg) no-repeat center/cover;
}
.section-title {
  font-size: 100px;
  font-weight: 900;
  background: linear-gradient(to right, #fcae88, #f16a70); /* 그라데이션 색상 */
  -webkit-background-clip: text; /* 글자에만 배경 적용 */
  -webkit-text-fill-color: transparent; /* 투명 글자 */
  display: inline-block; /* 배경이 글자만큼만 차지하도록 */
}

